.loadingPatch {
  height: 100%;
  background-color: rgba(var(--theme-bg-main-rgb), 0.8);
  transform-origin: left;
  animation: loading 2s forwards;
}

@keyframes loading {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
